@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "raleway";
    src: url(../font/Raleway-Regular.woff);
    src: url(../font/Raleway-Regular.ttf) format("true type font");
}

p,h3,li{
    font-family: "raleway";
}

h1,h2{
    font-family: "Lato";
}

h1{
    color: white;
    font-size: 3rem;
}

h2{
    background-color: #dbc2a4;
    color: black;
    border-width: 5px;
    border-style: solid;
    border-color: #dbc2a4;
    padding-left: 15px;
}

body{
    width: 1160px;
    margin:auto;
}

#container{
    width: 1160px;
}

figure{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}

#zoom:hover{
    cursor: zoom-in;
}


#poste{
    background-color:#782221;
    color: white;
    border: none;
}
#profil-photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow:0 0 30px #dbc2a4;
}

#photo{
    color: white;
    padding: 15px 0 15px 0;
    width:1160px;
}

#photo,#pied-de-page,#pied-de-page-2,#colonne-gauche{
    background-color: #782221;
}

#block-address{
    background-color: #2c1d27;
    padding: 0 50px 0 50px;
}

#coordonnées{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline white;
}

#photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pied-de-page{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#pied-de-page-2{
    display: flex;
    justify-content: center;
    color: white;
}

#double-colonne{
    display: flex;
}

#colonne-gauche{
 color: white;
 padding-right: 50px;
 width: 360px;

}

#colonne-droite{
border-width: 2px;
border-style: solid;
border-color:white #2c1d27 white white;
padding-left: 30px;
padding-right: 30px;
width: 800px;
font-weight: bolder;

}

#indentement{
    text-indent: 50px;
    padding-left: 20px;
    text-align: justify;
}

#blury1:hover,#blury2:hover,#blury3:hover{
    opacity: 80%;
}

h3:hover,#li1:hover,#li2:hover,#li3:hover,#li4:hover{
    border-right: solid 5px maroon;
    
}